extends base

mixin note(title, description, content, id)
        .noteContainer(data-noteid=id)
            h1 #{title}
            p #{description}
            p#noteContent #{content}
            button.openNoteBtn Open Note
            img.deleteNote(src="/uploads/delete.png", alt="Delete Button")

//- Only Quote, NO quoteE
mixin quote1(quote, id)
        .quoteContainer(data-quoteid=id)
            p "#{quote}"
            img.deleteQuote(src="/uploads/delete.png", alt="Delete Button")

//- Quote AND QuoteE
mixin quote2(quote, quotee, id)
        .quoteContainer(data-quoteid=id)
            p "#{quote}"
            p - #{quotee}
            img.deleteQuote(src="/uploads/delete.png", alt="Delete Button")



block append head
    link(rel='stylesheet' href='/stylesheets/book.css')
    title #{title}

block content
    .mainContainer
        .leftContainer
            .nameAndAuthor
                h1(data-bookId=book._id) #{book.title}
                p - #{book.author}
            ul.tabsContainer
                li 
                    a#notes Notes
                li 
                    a#quotes Quotes
            button#deleteBook Delete Book
        .rightContainer 
            .notes
                .newNoteContainer
                    h1 Add Note
                    img#addNoteBtn(src="/uploads/add.png", alt="Add Icon")
                each note in book.notes
                    +note(note.title, note.description, note.content, note._id)
            .quotes
                .newQuoteContainer
                    h1 Add Quote
                    img#addQuoteBtn(src="/uploads/add.png", alt="Add Icon")
                each quote in book.quotes
                    if quote.quotee
                        +quote2(quote.quote, quote.quotee, quote._id)
                    else
                        +quote1(quote.quote, quote._id)
            ul.pages
                li.page 1
                li.page 2
                li.page 3
                li.page 4
                li.page 5
            .container 
                form.addNoteForm
                    h1 Create Note
                    span#closeNoteWindow X
                    label(for="title") Note Title
                    input#noteTitle(type="text" name='title' required) 
                    label(for="description") Note Description
                    input#noteDescription(type="text" name='description' required) 
                    button#confirmBtn Confirm 
                form.addQuoteForm
                    h1 Create Quote
                    span#closeQuoteWindow X
                    label(for="quote") Quote Content
                    input#quoteContent(type="text" name='quote' required) 
                    label(for="quotee") Quotee
                    input#quotee(type="text" name='quotee') 
                    button#confirmBtn Confirm 
                form.openedNoteContainer
                    h1 Edit Note
                    span#closeEditNoteWindow X
                    label(for="title") Note Title
                    input#editNoteTitle(type="text" name='title' required) 
                    label(for="description") Note Description
                    input#editNoteDescription(type="text" name='description' required)
                    label(for='content') Note Content 
                    textarea#editNoteContent(name="content", cols="65", rows="20")  
                    button.confirmEditBtn Confirm Edit 
                form.openedQuoteContainer
                    h1 Edit Quote
                    span#closeEditQuoteWindow X
                    label(for="quote") Quote Content
                    input#editQuoteContent(type="text" name='quote' required) 
                    label(for="quotee") Quotee
                    input#editQuotee(type="text" name='quotee' required)
                    button.confirmEditBtn Confirm Edit 

            