extends base

mixin note(title, description)
        .noteContainer 
            h1 #{title}
            p #{description}
            button.openNoteBtn Open Note

block append head
    link(rel='stylesheet' href='/stylesheets/book.css')
    title #{title}

block content
    .mainContainer
        .leftContainer
            .nameAndAuthor
                h1 #{book.title}
                p - #{book.author}
            ul.tabsContainer
                li 
                    a#notes Notes
                li 
                    a#quotes Quotes
            button#deleteBook Delete Book
        .rightContainer 
            .notes
                .newNoteContainer
                    h1 Add Note
                    img#addNoteBtn(src="/uploads/add.png", alt="Add Icon")
                each note in book.notes
                    +note(note.title, note.description)
            .quotes
            .container 
                form.addNoteForm
                    h1 Create Note
                    span#closeWindow X
                    label(for="title") Note Title
                    input#noteTitle(type="text" name='title' required) 
                    label(for="description") Note Description
                    input#noteDescription(type="text" name='description' required) 
                    button#confirmBtn Confirm 
        